@inherits LayoutComponentBase
@using Color = MudBlazor.Color
@using ThreeDeeFrontend.ViewModels
@using ThreeDeeFrontend.Components
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Components
@using ThreeDeeInfrastructure.Services
@inject TopMenuViewModel TopMenuViewModel

<PageTitle>3D File Management System</PageTitle>
<MudThemeProvider 
    IsDarkMode="@ThemeProviderService.IsDarkMode"
    IsDarkModeChanged="async x => await SwitchTheme(x)" 
    Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudAppBar Elevation="1">
        <MudButton
            Typo="Typo.h5"
            Class="ml-3" Href="/">
            Logo
        </MudButton>
        <div class="d-flex justify-center flex-grow-1 gap-4">
            <DropDownMenu 
                Label="Library" 
                MenuItems="@TopMenuViewModel.LibraryItems"/>
            <DropDownMenu 
                Label="Files" 
                MenuItems="@TopMenuViewModel.FilesItems"/>
        </div>
        <div style="padding-right: 50px;">
            <LoginDisplay/>
        </div>
        <MudSwitch 
            @bind-Checked="@ThemeProviderService.IsDarkMode"
            Color="Color.Primary" T="bool" 
            Label="@(ThemeProviderService.IsDarkMode ? "DARK" : "LIGHT")"/>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code
{
    [Inject]
    private IThemeProviderService ThemeProviderService { get; set; }
    
    [Inject] 
    private ProtectedLocalStorage BrowserSettings { get; set; }
    
    private readonly MudTheme _theme = new();
    private const string SaveSettingsKey = "threedeedarkmodesetting";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var result = await BrowserSettings.GetAsync<bool>(SaveSettingsKey);
                if (result.Success)
                {
                    ThemeProviderService.IsDarkMode = result.Value;
                }
                else
                {
                    await BrowserSettings.SetAsync(SaveSettingsKey, ThemeProviderService.IsDarkMode);
                }
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
            StateHasChanged();
        }
    }

    private async Task SwitchTheme(bool isDarkTheme)
    {
        ThemeProviderService.IsDarkMode = isDarkTheme;
        try
        {
            await BrowserSettings.SetAsync(SaveSettingsKey, isDarkTheme);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}


