@page "/model/{Id:int}"
@using ThreeDeeFrontend.Components

<MudContainer MaxWidth="MaxWidth.Medium">
@if (_isColorPickerOpen)
{
    <div style="position: absolute; right: 10px; top: 100px;">
        <MudColorPicker
            Rounded="true"
            Class="rounded-tr-0"
            PickerVariant="PickerVariant.Static"
            DisableModeSwitch="true"
            Value="_color"
            ValueChanged="async c => await UpdateColor(c)"/>
    </div>
}
    <MudCard Style="margin-top: 30px; margin-bottom: 30px;">
        <MudCardHeader
            Style="padding-left: 30px; padding-right: 30px;">
            <CardHeaderContent>
                <MudText
                    Typo="Typo.h6">
                    @_file.Name
                </MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton
                    Icon="@Icons.Material.Filled.ColorLens"
                    Color="@(_isColorPickerOpen ? Color.Secondary : Color.Info)"
                    OnClick="() => { _isColorPickerOpen = !_isColorPickerOpen; }">
                </MudIconButton>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent Style="padding: 30px;">
            @if (_avoidRendering)
            {
                <MudCardMedia
                    Image="@($"assets/{_file.Name}.png")"
                    Style="height: 50vh; border-style: solid; border-width: 1px; border-radius: 4px; border-color: #f0f8ff36;"/>
            }
            else
            {
                <ModelRenderer
                    @ref="_modelRendererRef"
                    Name="@_file.Name"
                    Id="@_file.Id"
                    ProgressHasChanged="ProgressHasChangedCallback"
                    ColorValue="@_color.Value[..7]"/>
                if (_progress < 100)
                {
                    <MudProgressLinear 
                        Min="0" 
                        Max="100" 
                        Color="Color.Primary" 
                        Value="@_progress" 
                        Class="my-7" />
                }
            }
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudText Class="mud-width-full py-4 d-flex align-center justify-start">
                        created by: @_file.Author on @_file.Created.ToString("d.M.yyyy")
                    </MudText>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudRating
                        Class="mud-width-full py-4 d-flex align-center justify-end"
                        ReadOnly="true"
                        SelectedValue="@_file.Rating"/>
                </MudItem>
            </MudGrid>
            <MudExpansionPanels
                MultiExpansion="true">
                <MudExpansionPanel
                    Text="GCode">
                    <GCodeTable />
                </MudExpansionPanel>
                <MudExpansionPanel
                    Text="Comments">
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudCardContent>
        <MudCardActions Style="padding: 20px 40px 20px 40px;">
            <MudGrid>
                <MudItem xs="12" sm="4">
                    <a href="@($"/assets/{_file.Name}.stl")" download="@($"{_file.Name}.stl")" target="_top">
                        <MudButton
                            Class="d-flex align-center justify-center"
                            Style="width: 100%"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            StartIcon="@Icons.Material.Filled.Download">
                            Download
                        </MudButton>
                    </a>
                </MudItem>
                <MudItem xs="12" sm="4">
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".stl" FilesChanged="UploadGCode">
                        <ButtonTemplate>
                            <MudButton
                                HtmlTag="label"
                                Class="d-flex align-center justify-center"
                                Style="width: 100%"
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                StartIcon="@Icons.Material.Filled.Upload"
                                for="@context">
                                Upload GCode
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </MudItem>
                <MudItem xs="12" sm="4">
                    <MudButton
                        Class="d-flex align-center justify-center"
                        Style="width: 100%"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        StartIcon="@Icons.Material.Filled.AddComment">
                        new Comment
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudCardActions>
    </MudCard>
</MudContainer>

@if (files != null)
{
    <MudList>
        @foreach (var file in files)
        {
            <MudListItem Icon="@Icons.Material.Filled.AttachFile">
                @file.Name <code>@file.Size bytes</code>
            </MudListItem>
        }
    </MudList>
}