@using ThreeDeeApplication.Models
<MudDataGrid Items="@GCodeSettingsRepository.MockData" SortMode="@SortMode.Multiple" Striped="true" >
    <Columns>
        <TemplateColumn Sortable="false">
            <CellTemplate>
                <MudStack Row>
                    <a href="@($"/gcodefiles/{context.Item.Name}.txt")" download="@($"{context.Item.Name}.gcode")" >
                        <MudButton Size="@Size.Small" StartIcon="@Icons.Material.Filled.Download" Color="@Color.Primary"/>
                    </a>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.SuccessPercentage" Title="@Localization.ComponentsGCodeTableSuccess" Format="p2"/>
        <PropertyColumn Property="x => x.FilamentLengthUsed" Title="@Localization.ComponentsGCodeTableFilamentLengthUsed"/>
        <PropertyColumn Property="x => x.PrintingTimeMinutes" Title="@Localization.ComponentsGCodeTablePrintingTime"/>
        <PropertyColumn Property="x => x.Author" Title="@Localization.ComponentsGCodeTableAuthor"/>
        <TemplateColumn CellClass="d-flex justify-start">
            <CellTemplate>
                <MudStack Row>
                    <MudButton OnClick="OnButtonClicked" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">@Localization.ComponentsGCodeTableDetails</MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="GCodeSettingsModel" />
    </PagerContent>
</MudDataGrid>
