@using ThreeDeeApplication.Models
<MudDataGrid Items="@_gCodes" SortMode="@SortMode.Multiple" Striped="true" >
    <Columns>
        <TemplateColumn Sortable="false">
            <CellTemplate>
                <MudStack Row>
                    <a href="@($"/gcodefiles/{context.Item.Name}.txt")" download="@($"{context.Item.Name}.gcode")" >
                        <MudButton Size="@Size.Small" StartIcon="@Icons.Material.Filled.Download" Color="@Color.Primary"/>
                    </a>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => Math.Round((double)x.SuccessfulPrints / (x.FailedPrints + x.SuccessfulPrints), 4)" Title="@Localization.Components_GCodeTable_Success" Format="p2"/>
        <PropertyColumn Property="x => x.FilamentLengthUsed" Title="@Localization.Components_GCodeTable_FilamentLengthUsed"/>
        <PropertyColumn Property="x => x.PrintingTimeMinutes" Title="@Localization.Components_GCodeTable_PrintingTime"/>
        <PropertyColumn Property="x => x.Author" Title="@Localization.Components_GCodeTable_Author"/>
        <TemplateColumn CellClass="d-flex justify-start">
            <CellTemplate>
                <MudStack Row>
                    <MudButton OnClick="() => OnButtonClicked(context.Item.Name)" Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">@Localization.Components_GCodeTable_Details</MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="GCodeSettingsModel" />
    </PagerContent>
</MudDataGrid>
